
<script >
      $(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {
      hamburger_cross();
    });

    function hamburger_cross() {

      if (isClosed == true) {
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }

  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });
});


    </script>

<div id="wrapper" style="padding-top: 60px;width:100%;" onLoad="loadBooks('animals')">


            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
            <div class="container" >
            <h3>Total $150</h3>
        <form name="ccForm">
          <div class="form-group">
            <label for="card-number">Card Number</label>
            <input type="text" class="form-control" id="cardNumber" cc-number name="ccNumber" ng-model="card.number">
            <span ng-show="ccForm.ccNumber.$valid" class="glyphicon glyphicon-ok"></span>
            </div>
          
          <div class="form-group">
            <label for="cvc">CVC</label>
            <input type="text" class="form-control" id="cvc" cc-cvc cc-type="ccForm.ccNumber.$ccType" name="ccCvc" ng-model="card.cvc">
              <span ng-show="ccForm.ccCvc.$valid" class="glyphicon glyphicon-ok"></span>
          </div>
          
          <div class="form-group">
            <label for="card-number">Expiration</label>
            <div class="row" cc-exp>
              <div class="col-xs-3">
                <input placeholder="MM" type="text" class="form-control" cc-exp-month name="ccExpMonth" ng-model="card.expiration.month">

                <span ng-show="ccForm.ccExpMonth.$valid" class="glyphicon glyphicon-ok"></span>
              </div>
              <div class="col-xs-3">
                <input placeholder="YY" type="text" class="form-control" cc-exp-year name="ccExpYear" ng-model="card.expiration.year">

                <span ng-show="ccForm.ccExpYear.$valid" class="glyphicon glyphicon-ok"></span>
              </div>
            </div>
          </div>
          <label >E-mail</label>
          <div class="row" cc-exp>
          <div class="col-xs-3">
          <input class="form-control"placeholder="E-mail" type="email" name="email" ng-model="myInput"><span ng-show="ccForm.email.$valid" class="glyphicon glyphicon-ok"></span>
          </div>
          </div>

          <h3 >Personal Information</h3>
          <div class="row" cc-exp>
          <div class="col-xs-3">
          <input class="form-control"placeholder="First Name" type="text" name="city">
          <input class="form-control"placeholder="Last name" type="text" name="city">
          <h3>Shipping Address</h3>
          <input class="form-control"placeholder="No. street" type="text" name="street">
          <input class="form-control"placeholder="Postal Code" type="text" name="code">
          <input class="form-control"placeholder="Country city" type="text" name="city">
          </div>
          </div>

          <br><br>

          <a ng-href="#/thank/" type="button" class="btn btn-default "
            ng-show="ccForm.ccExpYear.$valid&&ccForm.ccExpMonth.$valid&&ccForm.ccNumber.$valid&&ccForm.ccCvc.$valid"
          >Checkout</a>
      </form>

                	

            </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
